*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.box{
    width: 90%;
    height: 100%;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
header{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 30rem;
    margin-bottom: 30px;
}
header img{
    max-width: 80px;
}
header h1{
    font-size: 25px;
    color: #333;
}
.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
   
}
.product{
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
a{
    text-decoration: none;
}
a button{
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}